<section class="page-section bg_calculator py-5" id="Rejestracja">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="text-white mt-3 mb-5 raleway-extra">Rejestracja</h2>
        <hr class="divider light my-4" />
        <p class="text-white my-5">
          <div class="_form">
            <div class="tab">
              Imie i nazwisko:
        <p><input placeholder="*Imie..." oninput="this.className = ''"></p>
        <p><input placeholder="Nazwisko..." oninput="this.className = ''"></p>
      </div>

      <div class="tab">
        Informacje kontaktowe:
        <p><input placeholder="*E-mail..." oninput="this.className = ''"></p>
        <p><input placeholder="Telefon..." oninput="this.className = ''"></p>
      </div>

      <div class="tab">
        Hasło:
        <p><input placeholder="*Hasło..." oninput="this.className = ''"></p>
        <p><input placeholder="*Powtórz hasło..." oninput="this.className = ''"></p>
      </div>


      <div class="tab">
        Data urodzenia:
        <p><input placeholder="*dd" oninput="this.className = ''"></p>
        <p><input placeholder="*mm" oninput="this.className = ''"></p>
        <p><input placeholder="*rrrr" oninput="this.className = ''"></p>
      </div>
      <div style="overflow:auto;">
        <div style="float:right;">
          <button type="button" id="nextBtn" onclick="nextPrev(1)">Rejestracja</button>
        </div>
      </div>

      <!-- Circles which indicates the steps of the form: -->
      <div style="text-align:center;margin-top:40px;">
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
      </div>
    </div>
  </div>
  </div>
  </div>
</section>
